*.py[co]
*.mo

# IDE specific
.idea
*.directory
.project
.pydevproject
.settings
.vscode
*.sublime-project
*.sublime-workspace
*.sw[po]
*~

# coverage data file
.coverage

# pytest's working directory
.cache

# tox working directory
.tox/

# frontend builds
src/archivematica/dashboard/static/
src/archivematica/dashboard/media/js/build

# setuptools build
**/*.egg-info

#ones including unique URLs
.gitmodules
hack/etc/nginx/conf.d/archivematica.conf
src/archivematica/dashboard/settings/base.py
hack/submodules/archivematica-storage-service

